<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    </style>

</head>
<body>
    {{data.name}}<br>
    {{data.contact}}<br>
    {{data.email}}
 <div style="display: flex; justify-content: space-evenly;">

    <div>
        <h3>Ouery Form</h3>
        {% if key2 %}
        <form action="" class="form" method="post" >
            {% csrf_token %}

            <label for="">Name:</label>
            <input type="text" name="name" value="{{key2.name}}" readonly >
            <label for="email">Email</label>
            <input type="email" name="email" value="{{key2.email}}" readonly>
            <label for="query">Query</label>
            <input type="text" name="query" value="{{key2.query}}" id="query" inputmode="">
            <button>Update</button>
            </form>
            {% else %}
            <form action="{% url 'query' %}" class="form" method="post" >
                {% csrf_token %}
    
                <label for="">Name:</label>
                <input type="text" name="name" value="{{data.name}}" readonly >
                <label for="email">Email</label>
                <input type="email" name="email" value="{{data.email}}"  readonly>
                <label for="query">Query</label>
                <input type="text" name="query" id="query" inputmode="">
                <button>Query</button>
                </form>
            {% endif %}
    </div>
    <div>
        <h3>Query Table</h3>

<table border="1">

    <tr>
        <th>sno</th>
        <th>name</th>
        <th>email</th>
        <th>Query</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
   <tbody>
    {% for i in query_data %}
    <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.stu_name}}</td>
    <td>{{i.stu_email}}</td>
    <td>{{i.stu_query}}</td>
   <td><a href="{% url 'edit' x=i.id %}"><button>Edit </button></a></td>
   <td><a href=""><button>Delete</button></a></td>
    </tr>
    {% endfor %}
   </tbody>
</table>
    </div>


</div>
</body>
</html>