<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <title>Website</title>
</head>
<body>
    <div class="home">
        
    <h2>HOME Page.....</h2>
    <a href="{% url 'register' %}" class="btn">Register</a>
    <br>
    <a href="{% url 'login' %}" class="btn">Login</a>


    {% comment %} <a href="{% url 'all_details' %}">All Details</a>
    <a href="{% url 'filter' %}">Filter</a>
    <a href="{% url 'exclude' %}">Exclude</a>
    <a href="{% url 'order' %}">Order_by assending</a>
    <a href="{% url 'dis_order' %}">Order by disassending</a>
    <a href="{% url 'slice' %}">Slice</a><br> {% endcomment %}


    {% comment %} <a href="{% url 'first' %}">First User</a>
    <a href="{% url 'last' %}">Last User</a>
    <a href="{% url 'lastest' %}">Lastest</a>  {% endcomment %}
    </div>

</body>
</html>